{% if not release_info.preferred %}
<aside aria-label="Version warning" class="bd-header-version-warning" style="min-height: 3rem;">
  <div class="bd-header-announcement__content">
    <div class="sidebar-message">
      {% if release_info.eol %}
        This is documentation for <strong>Gazebo {{ release_info.name | capitalize}}</strong>, which has reached its EOL
        (end-of-life) and is no longer officially supported.
      {% elif release_info.dev %}
        This is documentation for <strong> Gazebo {{ release_info.name | capitalize}}</strong> which is still under
        development.
      {% else %}
        This is documentation for <strong> Gazebo {{ release_info.name | capitalize}}</strong>,
        an older but still supported version of Gazebo. {% endif %}
      <a class="btn text-wrap font-weight-bold ms-3 my-1 align-baseline pst-button-link-to-stable-version"
        href="/docs/{{preferred_release.name}}/{{pagename}}">Switch to the latest stable version</a>
    </div>
  </div>
</aside>
{% endif %}

{% include "!sections/header.html" %}

<div class="doc-heading">
  <div class="banner d-flex flex-column-reverse flex-sm-row">
    <div>
      <div class="d-none d-sm-block">
        <span class="d-inline fs-2">Docs / Gazebo {{ release_info.name | capitalize }}</span>
        {% if release_info.lts %}
          <span class="badge bg-primary fs-4 fw-light ms-2">LTS</span>
        {% elif release_info.eol %}
          <span class="badge bg-danger fs-4 fw-light ms-2">EOL</span>
        {% endif %}
      </div>
      <span>{{ release_info.description}}</span>
    </div>
    {%- include 'gz-version-switcher.html' -%}
  </div>
</div>
