html {
  --pst-font-family-base: Roboto, var(--pst-font-family-base-system);
  --pst-font-size-base: 14px;
}

html[data-theme="light"] {
  --gz-color-doc-header: #4fc3f7;
  --gz-color-doc-header-text: #fff;
  --pst-color-primary: #0277bd;
  --gz-color-primary-sidebar: #f8f9fa;
}

html[data-theme="dark"] {
  --gz-color-doc-header: rgb(15 23 36 / 30%);
  --gz-color-doc-header-text: #fff;
  --pst-color-primary: #0277bd;
  --gz-color-primary-sidebar: #1a1c1e;
  --pst-color-background: #131416;
}

a {
  text-decoration: none;
}

pre {
  border: none;
}
.bd-main .bd-content .bd-article-container {
  max-width: 160em;
}

.bd-page-width {
  max-width: 100%;
}

.bd-sidebar {
  max-width: 20em;
}

.sidebar-primary-items__end {
  display: none;
}

.bd-links__title {
  display: none;
}

.navbar-nav .nav-item {
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  outline: 0;
  transition: 0.5s;
  font-weight: 400;
  color: #6e6e6e;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.navbar-nav li a {
  margin-right: 20px;
}

.bd-header .navbar-header-items {
  padding-left: 5em;
}

.nav-link.nav-external:after {
  display: none;
}

.doc-heading {
  width: 100%;
  background-color: var(--gz-color-doc-header);
  color: var(--gz-color-doc-header-text);
  height: 120px;
}

.banner {
  align-items: center;
  padding: 20px 40px;
  place-content: center space-between;
  height: 100%;
}

header.navbar {
  display: block;
}

.bd-sidebar-primary {
  max-height: calc(100vh - var(--pst-header-height) + 120px);
  top: calc(var(--pst-header-height) + 120px);
  background-color: var(--gz-color-primary-sidebar);
}

.bd-sidebar-secondary {
  max-height: calc(100vh - var(--pst-header-height) + 120px);
  top: calc(var(--pst-header-height) + 120px);
}

.gz-version-switcher {
  display: flex;
}
button.btn.version-switcher__button {
  color: var(--gz-color-doc-header-text);
  border-color: var(--gz-color-doc-header-text);
}

.navbar-brand img {
  height: 84px;
}

.warning {
  border-left: 3px solid rgb(228, 167, 2);
  padding: 15px;
  margin: 15px 0;
  color: #8a6c40;
  background: rgb(252, 248, 228);
}
