name: Upload docs to production

on: push
   #schedule:
   #  # UTC timezone
   #  - cron: '0 6 * * *'

jobs:
  upload:
    name: Upload docs to production
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup S3 cmd
      run: |
        sudo apt-get update &&
        sudo apt-get install s3cmd awscli &&
        s3cmd --configure --access_key=${{ secrets.AWS_ACCESS_KEY_ID }} --secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }} --no-encrypt --dump-config > $HOME/.s3cfg &&
        ls $HOME/.s3cfg
    - name: Run nightly upload
      run: cd tools && bash build_docs.sh all
      env:
        IGN_VERSION_PASSWORD: ${{ secrets.IGN_VERSION_PASSWORD }}
    - name: Invalidate Cloudfront distribution
      run: |
        aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }} &&
        aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }} &&
        aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths '/*'
