name: Deploy API Docs

on:
  pull_request:
  schedule:
   # UTC timezone
   - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  build:
    name: 'Build API Docs (${{ matrix.gazebo_distribution }})'
    runs-on: ubuntu-latest
    container:
      image: ubuntu:${{ matrix.ubuntu_distribution }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - ubuntu_distribution: focal
            gazebo_distribution: citadel

          - ubuntu_distribution: focal
            gazebo_distribution: fortress

          - ubuntu_distribution: focal
            gazebo_distribution: garden

          - ubuntu_distribution: jammy
            gazebo_distribution: harmonic
    steps:
      - uses: ros-tooling/setup-ros@v0.7
      - name: 'Set up Gazebo'
        uses: gazebo-tooling/setup-gazebo@1f55cec330de851fa373f1ade8ac6b7ddfe6f013
        with:
          required-gazebo-distributions: ${{ matrix.gazebo_distribution }}
      - name: 'Add Doxygen'
        run: sudo apt-get install -y doxygen graphviz
      - name: 'Add missing dependencies'
        run: sudo apt-get install -y libopengl-dev
      - name: 'Build Docs'
        run: |
          mkdir -p ws/src
          cd ws/src
          vcs import --input https://raw.githubusercontent.com/gazebo-tooling/gazebodistro/master/collection-${{ matrix.gazebo_distribution}}.yaml
          rm -rf sdformat
          rm -rf gz-tools
          sudo DEBIAN_FRONTEND=noninteractive apt-get -y install $(sort -u $(find . -iname 'packages-'${{ matrix.ubuntu_distribution}}'.apt' -o -iname 'packages.apt' | grep -v '/\.git/') | tr '\n' ' ')
          cd ..
          colcon build --merge-install --event-handlers console_cohesion+ --cmake-args -DBUILD_DOCS=ON -DBUILD_TESTING=OFF --cmake-target doc
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: api-docs-${{ matrix.gazebo_distribution }}
          path: ws/build/**/doxygen/html

  upload:
    name: Upload docs to production
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configure AWS Credentials
      id: creds
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::200670743174:role/github-oidc-deployment-gz-web-app
    - uses: actions/download-artifact@v4
      id: download
      with:
        path: .api-docs
        pattern: api-docs-*
        merge-multiple: true
    - name: 'Restructure API Docs'
      run: python3 tools/restructure_doxygen_artifacts.py ${{steps.download.outputs.download-path}} .api-out
    - uses: actions/upload-artifact@v4
      with:
        name: api-docs
        path: .api-out/*
    - name: Run nightly upload
      run: aws s3 sync --dry-run .api-out/ s3://gazebosim.org/api/
      shell: bash
      env:
        AWS_ACCESS_KEY_ID: ${{ steps.creds.outputs.aws-access-key-id }}
        AWS_SECRET_ACCESS_KEY: ${{ steps.creds.outputs.aws-secret-access-key }}
        AWS_SESSION_TOKEN: ${{ steps.creds.outputs.aws-session-token }}
    - name: Invalidate Cloudfront distribution
      run: |
        aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths '/*' --region us-east-1
